.place__paragraph {
    margin: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: #FFF;
    padding-bottom: 26px;
}

.place__paragraph:last-child {
    padding-bottom: 0;
    
}

@media screen and (max-width: 1279px) {
    .place__paragraph {
        padding-bottom: 27px;
    }
}

@media screen and (max-width: 1023px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 163%;
        padding-bottom: 25px;
    }
}

@media screen and (max-width: 767px) {
    .place__paragraph {
        
    }
}
