.intro__text {
    max-width: 690px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    padding: 40px 0 0 0;
    color: #FFFFFF;
}

@media screen and (max-width: 1023px) {
    .intro__text {
        max-width: 720px;
    }
    
}

@media screen and (max-width: 767px) {
    .intro__text {
        line-height: 26px; /* проверить по макету, соответсвует ли высота по наследовательности на 320 расширении */
        color: #FFF;
    }
}
