.place__heading-url {
    margin: 0;
    padding-bottom: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 170%;
    /* or 20px */
    letter-spacing: 2px;
    color: #AAA;
}